h2 {
  text-align: center;
  margin-top: 20px;
}


section {
  padding: 50px;
}

html {
    font-size: 17px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

.form__fieldset {
    text-align: center;
    padding: 40px 20px;
}

    .form__fieldset:not(:last-of-type) {
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

.form__input {
    text-align: center;
    font-size: 1rem;
}

.form__select {
    text-align: center;
    padding: 4px 2px;
}

.form__label {
    text-align: center;
    margin-right: 20px;
}

.form__submit {
    padding: 8px 16px;
    background-color: unset;
    border: 2px solid #1c2023;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

    .form__submit:hover {
        background-color: #1c2023;
        color: white;
    }


